.cp {
	color:#000;
	display:block;
	font-size:50px;
	height:60px;
	position:relative;
	text-decoration:none;
	text-shadow:0 1px #fff;
	width:60px;
}
#chessBoard { border:5px solid #333; }
#chessBoard td {
	background:#fff;
	background:-moz-linear-gradient(top, #fff, #eee);
	background:-webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#eee));
	box-shadow:inset 0 0 0 1px #fff;
	-moz-box-shadow:inset 0 0 0 1px #fff;
	-webkit-box-shadow:inset 0 0 0 1px #fff;
	height:60px;
	text-align:center;
	vertical-align:middle;
	width:60px;
}
#chessBoard tr:nth-child(odd) td:nth-child(even),
#chessBoard tr:nth-child(even) td:nth-child(odd) {
	background:#ccc;
	background:-moz-linear-gradient(top, #aaa, #ccc);
	background:-webkit-gradient(linear,0 0, 0 100%, from(#aaa), to(#ccc));
	box-shadow:inset 0 0 10px rgba(0,0,0,.4);
	-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
}

#chessBoard td.marked,
#chessBoard tr:nth-child(odd) td.marked:nth-child(even),
#chessBoard tr:nth-child(even) td.marked:nth-child(odd) {
	background:-moz-linear-gradient(top, #a66, #c66);
	background:-webkit-gradient(linear,0 0, 0 100%, from(#a66), to(#c66));
}

#chessBoard td.possibleTargetField,
#chessBoard tr:nth-child(odd) td.possibleTargetField:nth-child(even),
#chessBoard tr:nth-child(even) td.possibleTargetField:nth-child(odd) {
	background:-moz-linear-gradient(top, #a06, #c06);
	background:-webkit-gradient(linear,0 0, 0 100%, from(#a06), to(#c06));
}



.cp.king.white:before   { content: "\2654" }
.cp.queen.white:before  { content: "\2655" }
.cp.rook.white:before   { content: "\2656" }
.cp.bishop.white:before { content: "\2657" }
.cp.knight.white:before { content: "\2658" }
.cp.pawn.white:before   { content: "\2659" }

.cp.king.black:before   { content: "\265A" }
.cp.queen.black:before  { content: "\265B" }
.cp.rook.black:before   { content: "\265C" }
.cp.bishop.black:before { content: "\265D" }
.cp.knight.black:before { content: "\265E" }
.cp.pawn.black:before   { content: "\265F" }